@import "../base.less";

table {
    border-collapse: collapse;
    tr{
        th{
            width: 150px;
            font-size: 20px;
            font-weight: bold;
        }
        td{
            text-align: center;
        }
    }
}
table, th, td{
    border: 1px solid black;
}
