@import "../base.less";

.main-wrap{
    position: relative;
    text-align: center;
    .title{
        font-family: txtFont;
        color: @txt-color;
        margin-bottom: 40px;
        .txt-title-small{
            font-size: 35px;
            font-weight: bold;
        }
        .txt-select{
            font-size: 20px;
        }
    }
}
ul{
    display: inline-block;
    padding: 0;
    list-style: none;
    margin-top: -40px;
    #hq-medical, #field-worker-data, #field-worker-medical, #it-staff{
        .img-home > img{
            width: 65%;
        }
    }
    li{
        float: left;
        width: 250px;
        text-align: center;
        .txt{
            font-family: txtFont;
            color: @txt-color;
            font-size: 26px;
            margin-top: 25px;
            width: 250px;
        }
        ul{
            position: relative;
            z-index: 1040;
            display: none;
            font-family: txtFont;
            color: @txt-color;
            font-size: 35px;
            margin-top: 3px;
            a{
                color: @txt-color;
                text-decoration: none;
                li{
                    display: inline-block;
                    height: 164px;
                    margin-top: 34px;
                    .img{
                        padding-top: 10px;
                        img{
                            width: 35%;
                        }
                    }
                    .txt-small{
                        font-size: 25px;
                    }
                }
            }
        }

        #hq-medical-icons{
            width: 950px;
            background: url("../../img/hq_medical/HQMed_bg.png") no-repeat;
            margin-left: 35px;
            li{
                width: 190px;
                height: 165px;
            }
            li:hover{
                background-color: #77aac3;
                transition: all 0.5s ease 0s;
            }
        }

        #field-data-icons{
            width: 870px;
            height: 200px;
            background: url("../../img/field_data/FieldData_bg.png") no-repeat;
            margin-left: -160px;
            .field-data-icon{
                width: 195px;
                margin-left: 1px;
            }
            li:hover{
                background-color: #915173;
                transition: all 0.5s ease 0s;
            }
        }

        #field-med-icons{
            width: 870px;
            height: 200px;
            background: url("../../img/field_med/FieldMed_bg.png") no-repeat;
            margin-left: -165px;
            .field-med-icon{
                width: 195px;
                margin-left: 2px;
            }
            li:hover{
                background-color: #429373;
                transition: all 0.5s ease 0s;
            }
        }

        #it-icons{
            width: 579px;
            height: 200px;
            background: url("../../img/it/IT_bg.png") no-repeat;
            margin-left: -190px;
            .it-icon{
                width: 195px;
                margin-left: 1px;
            }
            li:hover{
                background-color: #E69556;
                transition: all 0.5s ease 0s;
            }
        }
    }
    li:hover #hq-medical-icons{
        display: inline-block;
    }
    li:hover #field-data-icons{
        display: inline-block;
    }
    li:hover #field-med-icons{
        display: inline-block;
    }
    li:hover #it-icons{
        display: inline-block;
    }
}

@font-face {
    font-family: fontLogin;
    src: url(../../font/MinionPro-It.otf);
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: txtFont;
    font-size: 35px;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   font-family: txtFont;
   font-size: 35px;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-family: txtFont;
    font-size: 35px;
}

:-ms-input-placeholder {
    text-align: center;
    font-family: txtFont;
    font-size: 35px;
}

.popup{
    margin-top: 127px;
    width: 435px;
    height: 445px;
    text-align: center;
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    border-top: solid 2px #e5e5e5;
    border-right: solid 2px #e5e5e5;
}

.txt-field{
    background-color: #cccccc;
    border: none;
    border-radius: 3px;
    height: 50px;
    width: 300px;
    font-family: txtFont;
    font-size: 35px;
}

input[type="submit"]{
    width: 300px;
    height: 55px;
    font-weight: bold;
    color: #FFF;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    font-family: txtFont;
}

.btn-hq-login{
    background-color: #006699;
    border-bottom: 3px solid #005C89;
}

.btn-fd-login{
    background-color: #993366;
    border-bottom: 3px solid #892E5C;
}

.btn-it-login{
    background-color: #CC6600;
    border-bottom: 3px solid #B75C00;
}

.title-login{
    color: #424242;
    font-weight: bold;
    font-size: 35px;
    padding-top: 65px;
    font-family: myFont;
}

.img-login{
    width: 435px;
    margin: 0 auto;
    text-align: center;
    top: 55px;
    position: fixed;
    z-index: 20000;
    height: 95px;
}

.img-login > img{
    height: 85px;
}

.txt-forgot-pwd{
    color: #006699;
    font-family: fontLogin;
    margin-top: 25px;
    text-decoration: none;
    font-size: 18px;
}

.modal-backdrop{
    background-color: #3081AA !important;
}

.modal-backdrop.in {
    opacity: 0.9 !important;
}