@charset "UTF-8";

// Global variable
@font-face {
    font-family: txtFont;
    src: url(../../font/AlternateGotNo3D.ttf);
}

// Text color
@txt-color: #414141;

.header-title{
    font-size: 60px;
    font-family: txtFont;
    font-weight: bold;
    text-align: center;
    margin-top: -64px;
    line-height: 100px;
}
body{
    min-width: 1000px;
    margin: 0;
}